n8n-workflows/os-fila.json
{
  "nodes": [
    {
      "parameters": {
        "path": "os/fila",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-800, 480],
      "id": "osfila-wh-0000-0000-0000-000000000001",
      "name": "Webhook",
      "webhookId": "osfila-wh-0001-0000-0000-000000000001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  o.codigo,\n  o.numero,\n  o.data_abertura,\n  o.descricao,\n  o.servico,\n  o.endereco_final\nFROM Ordem_Servico o\nWHERE o.encerrado = 'n'\nORDER BY o.data_abertura ASC",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [-560, 480],
      "id": "osfila-q1-0000-0000-0000-000000000001",
      "name": "MySQL OS Abertas",
      "credentials": { "mySql": { "id": "5pBRjyVxIwR5AI6n", "name": "MySQL Call Center" } }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json)\nconst body = JSON.stringify(rows)\nreturn [{ json: { body } }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-320, 480],
      "id": "osfila-c1-0000-0000-0000-000000000001",
      "name": "Montar Resposta"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.body }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json; charset=utf-8" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-80, 480],
      "id": "osfila-rs-0000-0000-0000-000000000001",
      "name": "Responder"
    }
  ],
  "connections": {
    "Webhook":         { "main": [[{ "node": "MySQL OS Abertas", "type": "main", "index": 0 }]] },
    "MySQL OS Abertas":{ "main": [[{ "node": "Montar Resposta",  "type": "main", "index": 0 }]] },
    "Montar Resposta": { "main": [[{ "node": "Responder",        "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ddde3ba2d4f38e1765392468f917b5df6604c73bfaf362e501797732bbfb53bc"
  }
}
